* {
  box-sizing: border-box; }

.errorContainer {
  min-height: 5px;
  text-align: center;
  color: red;
}

nav {
  padding: 0 10px;
}


@media only screen and (min-width: 992px){
  .videocards {
    margin-left: 235px;
  }

}

#slide-out {
  top: 64px;
}

#affdex_elements {
  display: none;
  width: 640px;
  height: 480px;
  text-align: center;
  margin: 20px auto 0 auto;
}

#theAd {
  width: 640px;
  height: 480px;
}

#playButton {
  font-size: 200px;
  margin: 150px;
}

#playButton:hover {
  text-shadow: 0 0 25px lightblue;
}

#playButton:active {
  color: lightgreen;
  text-shadow: 0 0 25px lightblue;
}

#main {
  padding-left: 0; }

sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 !important;
  background: #079eb4;
  height: 100%;
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid #045d6a; }
  sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #222; }
  sidebar::-webkit-scrollbar-thumb{
    background-color: black;
    -webkit-border-radius: 1ex; }
  sidebar .logo {
    width: 100%;
    padding: 10px; }
  sidebar section > * {
    padding: 0 15px; }
  sidebar .menu-item {
    transition: border-left, 0.2s; }
    sidebar .menu-item a {
      color: #d3e3ea; }
      sidebar .menu-item a:hover {
        color: #ffcc52; }
    sidebar .menu-item.active, sidebar .menu-item:hover {
      border-left: 3px solid #00bc8c; }

.carousel-caption h3 {
color: #d3e3ea !important;
}

.carousel-caption p {
color: #079eb4 !important;
}

#logs {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  font-family: 'Happy Monkey', cursive;
}
