* {
  box-sizing: border-box;
}

.history {
  margin-top: -0.9em;
  padding: 5px 0;
}

.errorContainer {
  min-height: 5px;
  text-align: center;
  color: red;
}

.card-image img {
  height: 230px;
  object-fit: cover;
}

.card-content {
  text-align: center;
  color: #000;
}

.card-action {
  text-align: center;
  text-transform: capitalize;
  color: #ffb74d;
}

nav {
  padding: 0 10px;
  background-color: #ffb74d;
}


@media only screen and (min-width: 992px){
  .videocards {
    margin-left: 235px;
  }

}

#slide-out {
  top: 64px;
}

#affdex_elements {
  width: 640px;
  height: 480px;
  text-align: center;
  margin: 20px auto 0 auto;
}

.videotitle {
  margin-left: 275px;
}

#theAd {
  width: 640px;
  height: 480px;
  text-align: center;
  margin: 20px auto 0 auto;
}

#playButton {
  font-size: 200px;
  margin: 150px;
}

#playButton:hover {
  text-shadow: 0 0 25px lightblue;
}

#playButton:active {
  color: lightgreen;
  text-shadow: 0 0 25px lightblue;
}

#main {
  padding-left: 0;
}

.carousel-caption h3 {
color: #d3e3ea !important;
}

.carousel-caption p {
color: #079eb4 !important;
}

#logs {
  text-align: center;
  font-size: 2em;
  padding-top: 10px;
  font-family: 'Happy Monkey', cursive;
}

.progress {
    height: 30px;
}
